html {
    height: 100%;
}

body {
    height: 100%;
}

.hide {
    display: none;
}

.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.originVideoContainer {
    display:flex; 
    /* position:absolute;  */
    top:0px; 
    left:0px;
    width: 100%;
    height: auto;
    background-color: gray;
}

.originVideo {
    /* object-fit: contain; */
    width: 100%;
    height: 59.25vw; /* 16:9 */
}

.sbsVideoContainer {
    display:flex; 
    /* position:absolute;  */
    top:0px; 
    left:0px;
    width: 100%;
    height: auto;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sbsVideo {
    width: 50%;
    height: 28.125vw;
}
.sbsLeft {
    background-color: rgba(255,0,0,0.5);
}
.sbsRight {
    background-color: rgba(0,0,255,0.5);
}


.playerContainer {
    width: 100%;
    /* height: 100%; */
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    position: absolute;
}

.videoMainControls {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: row;
    width:100%;
    height:100%;
}

.videoFileOpenControl {
    display:none;
}
.videoMainLargeControl {
    background-color: rgba(224,224,192,0.3);
    top: 0px;
    left: 0px;
    width:100%;
    height:80%;
    fill:"currentColor";
}

.videoMainSmallButton {
    background-color: transparent; 
    border:0px;
    top: 0px;
    left: 0px;
    width:"auto";
    height:5vh;
    fill:"currentColor";
}

.videoControlSVG {
    stroke:goldenrod
}

.videoContainer {
    width: 100%;
    height: 56.25vw;
    border: solid 1px #0e0;
}

.videoToolbar {
    position:absolute;
    bottom: 0px;
    /* border: solid 1px green; */
    --toolbarHeight: 10vh;
    height: var(--toolbarHeight);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgba(192,192,192,0.5); */
    /* visibility: hidden; */
}

.videoProgressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 100%;
}

.videoProgressLine {
    stroke:rgba(127,127,127,0.5);
    stroke-width:0.5vh;
}
.videoProgressSeeker {
    position:absolute;
    top: 0px;
    left: 0px;
    height: 2vh;
    width: 1vw;
}

.videoProgressSeekerRect {
    fill: rgba(64,64,64,0.5)
}

.popPlayTime {
    position:fixed;
    visibility:hidden;
     /* display:none; */
}

.volumeBar {
    position:absolute;
    bottom: 0px;
    right: 0px;
}

.SBSViewCtrl {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom:0px;
    left:0px;
    height: 3em;
}

.SBSViewCtrl-label {
    display: block;
}

/* below style code reference from: https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers */
.SBSViewSlider {
    background: transparent;
    width: 9vw;
}


